{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="books mb-4">Collection de {{ books|length }} livres</h3>
    <div class="row row-cols-1 row-cols-md-4 g-3 ms-3 me-3">
        {% for book in books %}
            <div class="col">
                <div class="card h-100 shadow bg-body rounded">
                    <a class="imglien" href="{{ path('app_books_show', {'id': book.id}) }}"><img class="card-img-top p-2" src="{{ asset('/img/uploads/' ~ book.CoverImage) }}" alt="Image de couverture"></a>
                    <div class="card-body">
                        <a class="imglien" href="{{ path('app_books_show', {'id': book.id}) }}"><h5 class="card-title">{{ book.title }}</h5></a>
                        <a class="imglien" href="{{ path('app_books_show', {'id': book.id}) }}"><p class="card-text">{{ book.description|u.truncate(100,'...', false)}}</p></a>
                        {% if is_granted('ROLE_EMPLOY') %}
                            <a class="btn" href="{{ path('app_books_edit', {'id': book.id}) }}">Modifier</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
