{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="text-center">Tableau des réservations</h3>
    <div class="table-responsive m-0 p-3">
        <table class="table align-middle table-striped table-hover">
            <thead class="table table-dark">
                <tr>
                    <th>Email de l'utilisateur</th>
                    <th>Titre du Livre</th>
                    <th>Date de réservations</th>
                    <th>Date Max de réservations</th>
                    <th>Date de retrait</th>
                    <th>Date max de retour</th>
                    <th>Retrait</th>
                    {% if is_granted('ROLE_EMPLOY') %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.user.email }}</td>
                    <td>{{ reservation.books.title }}</td>
                    <td>{{ reservation.ReservationsAt ? reservation.ReservationsAt|date('Y-m-d') : '' }}</td>
                    <td>{{ reservation.ReservationsMaxAt ? reservation.ReservationsMaxAt|date('Y-m-d') : '' }}</td>
                    <td>{{ reservation.ReservationsLongAt ? reservation.ReservationsLongAt|date('Y-m-d') : '' }}</td>
                    <td>{{ reservation.ReservationsLongMaxAt ? reservation.ReservationsLongMaxAt|date('Y-m-d') : '' }}</td>
                    <td>{{ reservation.Remove }}</td>
                    {% if is_granted('ROLE_EMPLOY') %}
                        <td>
                            <a class="btn" href="{{ path('app_reservations_edit', {'id': reservation.id}) }}">edit</a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Pas de réservations</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
