{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}
    <h1>Reservations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>ReservationsAt</th>
                <td>{{ reservation.ReservationsAt ? reservation.ReservationsAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ReservationsMaxAt</th>
                <td>{{ reservation.ReservationsMaxAt ? reservation.ReservationsMaxAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ReservationsLongAt</th>
                <td>{{ reservation.ReservationsLongAt ? reservation.ReservationsLongAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ReservationsLongMaxAt</th>
                <td>{{ reservation.ReservationsLongMaxAt ? reservation.ReservationsLongMaxAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservations_index') }}">back to list</a>

    <a href="{{ path('app_reservations_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservations/_delete_form.html.twig') }}
{% endblock %}
